.bgImg{
    background:  linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.4)),url("https://images.unsplash.com/photo-1607082348824-0a96f2a4b9da?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    background-attachment: fixed;
    width:100vw;
    height: 84vh;
    overflow: hidden;
}
  
  .lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .section01 > h2 > span{
    color: rgb(57, 57, 184);
    font-weight: bold;
    letter-spacing: 1px;
}
  
*{
    color: white;
}
.section01 >  p:first-child{font-size: 15px ; text-align: center; text-transform: capitalize;font-weight: 500;}
.section01 > h1{font-size: 25px; font-weight: 600;text-transform: capitalize;}
.section01 > h2{font-size: 25px; font-weight: 600;text-transform: capitalize;}
.section01 > h3{font-size: 25px; font-weight: 600;text-transform: capitalize;}
.section01 > p:last-child{
width: 95%; font-size: 17px; text-align: justify;
padding-top: 18px ; letter-spacing: 0.6px;
}
@media all and (max-width:320px) {
    .bgImg{
        height: 100vh;
    }
    .section01 >  p:first-child{font-size: 10px ; text-align: center; text-transform: capitalize;font-weight: 500;}
    .section01 > h1{font-size: 15px; font-weight: 500;text-transform: capitalize;}
    .section01 > h2{font-size: 15px; font-weight: 500;text-transform: capitalize;}
    .section01 > h3{font-size: 15px; font-weight: 500;text-transform: capitalize;}
    
    .section01 > p:last-child{
    width: 100%; font-size: 9.9px; text-align: justify;
    padding-top: 10px ; 
    }
}
@media all and (min-width:320px) {
    .bgImg{
        height: 100vh;
    }
    .section01 >  p:first-child{font-size: 10px ; text-align: center; text-transform: capitalize;font-weight: 500;}
    .section01 > h1{font-size: 15px; font-weight: 600;text-transform: capitalize;}
    .section01 > h2{font-size: 15px; font-weight: 600;text-transform: capitalize;}
    .section01 > h3{font-size: 15px; font-weight: 600;text-transform: capitalize;}
    
    .section01 > p:last-child{
    width: 100%; font-size: 9.9px; text-align: justify;
    padding-top: 3px ; 
    }
}
@media all and (min-width:720px) {
    .bgImg{
        height: 100vh;
    }
    .section01 >  p:first-child{font-size: 16px ; text-align: center; text-transform: capitalize;font-weight: 500;}
    .section01 > h1{font-size: 20px; font-weight: 600;text-transform: capitalize;}
    .section01 > h2{font-size: 20px; font-weight: 600;text-transform: capitalize;}
    .section01 > h3{font-size: 20px; font-weight: 600;text-transform: capitalize;}
    
    .section01 > p:last-child{
    width: 100%; font-size: 15px; text-align: justify;
    padding-top: 10px ; 
    }
}
@media all and (min-width:1024px) {
    .bgImg{
        height: 100vh;
    }
    .section01 >  p:first-child{font-size: 18px ; text-align: center; text-transform: capitalize;font-weight: 700;}
    .section01 > h1{font-size: 23px; font-weight: 800;text-transform: capitalize;}
    .section01 > h2{font-size: 23px; font-weight: 800;text-transform: capitalize;}
    .section01 > h3{font-size: 23px; font-weight: 800;text-transform: capitalize;}
    
    .section01 > p:last-child{
    width: 100%; font-size: 18px; text-align: justify;
    padding-top: 10px ; 
    }
}
@media all and (min-width:720px) {
    .bgImg{
        height: 100vh;
    }
    .section01 >  p:first-child{font-size: 16px ; text-align: center; text-transform: capitalize;font-weight: 500;}
    .section01 > h1{font-size: 20px; font-weight: 600;text-transform: capitalize;}
    .section01 > h2{font-size: 20px; font-weight: 600;text-transform: capitalize;}
    .section01 > h3{font-size: 20px; font-weight: 600;text-transform: capitalize;}
    
    .section01 > p:last-child{
    width: 100%; font-size: 15px; text-align: justify;
    padding-top: 10px ; 
    }
}
@media all and (min-width:1440px) {
    .bgImg{
        height: 100vh;
    }
    .section01 >  p:first-child{font-size: 25px ; text-align: center; text-transform: capitalize;font-weight: 700;}
    .section01 > h1{font-size: 35px; font-weight: 800;text-transform: capitalize;}
    .section01 > h2{font-size: 35px; font-weight: 800;text-transform: capitalize;}
    .section01 > h3{font-size: 35px; font-weight: 800;text-transform: capitalize;}
    
    .section01 > p:last-child{
    width: 80%; font-size: 26px; text-align: justify;
    padding-top: 50px ; 
    }
}
