.card-container{
    padding: 40px !important;
}
.card-control{
max-width: 300px !important;
max-height: max-content;
}
.card-control img:first-child{
    width: 100%;
    height: fit-content;

}
.card-title{
    color: black !important;
}
.amzon-brand{
    width: 50px !important;
    height: 30px !important;
    object-fit: cover;
}
.flex{
    display: grid;
    grid-template-columns: auto auto auto;
    
}
@media all and (max-width:320px) {
    .card-container{
        padding: 20px !important;
    }
    .card-control{
    max-width: 300px !important;
    max-height: max-content;
    }
    .card-control img:first-child{
        width: 100%;
        height: fit-content;
    
    }
    .card-title{
        color: black !important;
    }
    .amzon-brand{
        width: 50px !important;
        height: 30px !important;
        object-fit: cover;
    }
    .flex{
        display: grid;
        grid-template-columns: auto ;
        
    }
}
@media all and (min-width:320px) {
    .card-container{
        padding: 30px !important;
    }
    .card-control{
    max-width: 300px !important;
    max-height: max-content;
    }
    .card-control img:first-child{
        width: 100%;
        height: fit-content;
    
    }
    .card-title{
        color: black !important;
    }
    .amzon-brand{
        width: 50px !important;
        height: 30px !important;
        object-fit: cover;
    }
    .flex{
        display: grid;
        grid-template-columns: auto ;
        
    }
}
@media all and (min-width:425px) {
    .card-container{
        padding: 60px !important;
    }
    .card-control{
    max-width: 300px !important;
    max-height: max-content;
    }
    .card-control img:first-child{
        width: 100%;
        height: fit-content;
    
    }
    .card-title{
        color: black !important;
    }
    .amzon-brand{
        width: 50px !important;
        height: 30px !important;
        object-fit: cover;
    }
    .flex{
        display: grid;
        grid-template-columns: auto ;
        
    }
}
@media all and (min-width:768px) {
    .card-container{
        padding: 60px !important;
    }
    .card-control{
    max-width: 300px !important;
    max-height: max-content;
    }
    .card-control img:first-child{
        width: 100%;
        height: fit-content;
    
    }
    .card-title{
        color: black !important;
    }
    .amzon-brand{
        width: 50px !important;
        height: 30px !important;
        object-fit: cover;
    }
    .flex{
        display: grid;
        grid-template-columns: auto auto  !important;
        
    }
}
@media all and (min-width:1024px) {
    .card-container{
        padding: 60px !important;
    }
    .card-control{
    max-width: 300px !important;
    max-height: max-content;
    }
    .card-control img:first-child{
        width: 100%;
        height: fit-content;
    
    }
    .card-title{
        color: black !important;
    }
    .amzon-brand{
        width: 50px !important;
        height: 30px !important;
        object-fit: cover;
    }
    .flex{
        display: grid;
        grid-template-columns: auto auto auto !important ;
        
    }
}
@media all and (min-width:2560px) {
    .card-container{
        padding: 80px !important;
    }
    .card-control{
    max-width: 300px !important;
    max-height: max-content;
    }
    .card-control img:first-child{
        width: 100%;
        height: fit-content;
    
    }
    .card-title{
        color: black !important;
    }
    .amzon-brand{
        width: 50px !important;
        height: 30px !important;
        object-fit: cover;
    }
    .flex{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto  !important  ;
        
    }
}